<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Solution</title>
</head>
<body style="background-color: beige">

<div style="text-align: center">
    <h1 style="margin-top: 50pt">
        <b>Newton’s method for solving systems of 2 non-linear equations</b>
    </h1>


    <h1 style="margin-top: 30pt">Coursework for “Numerical Methods” course</h1>

    <h2 style="margin-top: 30pt">
        <b>INPUT THE SYSTEM</b>
    </h2>


    <form th:action="@{/solve}" th:method="get" th:object="${requestDto}" style="margin-top: 50pt">

        <div class="form-group">
            <h3><label for="func1">Input the 1<sup>st</sup> equation</label>
                <input type="text" class="form-control" th:field="*{func1}" id="func1" required>
                <label>= 0</label>
            </h3>
        </div>
        <div class="form-group">
            <h3><label for="func2">Input the 2<sup>nd</sup> equation</label>
                <input type="text" class="form-control" th:field="*{func2}" id="func2" required>
                <label>= 0</label>
            </h3>
        </div>
        <div class="form-group" style="margin-top: 30pt">
            <h3><label for="errorRate">Error rate</label>
                <input type="text" class="form-control" th:field="*{errorRate}" id="errorRate" required>
            </h3>
        </div>

        <h2>Remember that you have to use variables <b>x</b> and <b>y</b> to get the correct solution!</h2>

        <button type="submit">Calculate</button>
    </form>

    <div th:if="${param.error != null}" th:text="${param.error}" class="alert text-center"
         role="alert" style="margin-top: 30pt; color: darkred"></div>


    <footer style="margin-top: 70pt">Maxim Sinitsyn, 2022</footer>

</div>
</body>
</html>